.grd {
  width: 1389px;
  flex-wrap: wrap;
  display: flex;
}

.grd.-top {
  align-items: flex-start;
}

.grd.-middle {
  align-items: center;
}

.grd.-bottom {
  align-items: flex-end;
}

.grd.-stretch {
  align-items: stretch;
}

.grd.-baseline {
  align-items: baseline;
}

.grd.-left {
  justify-content: flex-start;
}

.grd.-center {
  justify-content: center;
}

.grd.-right {
  justify-content: flex-end;
}

.grd.-between {
  justify-content: space-between;
}

.grd.-around {
  justify-content: space-around;
}

.c {
  box-sizing: border-box;
  flex-shrink: 0;
}

.c.-fill {
  width: 0;
  min-width: 0;
  flex-grow: 1;
}

.c.-\31 of12 {
  width: 8.33333%;
}

.c.-\32 of12 {
  width: 16.6667%;
}

.c.-\33 of12 {
  width: 25%;
}

.c.-\34 of12 {
  width: 33.3333%;
}

.c.-\35 of12 {
  width: 41.6667%;
}

.c.-\36 of12 {
  width: 50%;
}

.c.-\37 of12 {
  width: 58.3333%;
}

.c.-\38 of12 {
  width: 66.6667%;
}

.c.-\39 of12 {
  width: 75%;
}

.c.-\31 0of12 {
  width: 83.3333%;
}

.c.-\31 1of12 {
  width: 91.6667%;
}

.c.-\31 2of12 {
  width: 100%;
}

.hi {
  height: 24px;
}

